    
    body {
        background-color: #7a2b27;
        color: #00FF00;
        text-align: center;
	font-family: 'Pacifico';
        font-size: 1em;
        margin-bottom: 0px;
    }
    
    header, main, nav{
        text-align: center; 
    }

    footer {
	    text-align: center;
	    color: blue;
	    font-size: .7em
    }
    
    nav a {
        padding:15px;
        padding-bottom:4px;
        font-size: 1.8em;
        color: ;
        text-decoration: none;
    }
    
    nav a:hover {  
         border-bottom:2px #00FF00 solid;
	 border-top: 2px #00FF00 solid;
	 border-left: 2px #FF00FF solid;
	 border-right: 2px #FF00FF solid;
         font-size: 2em;
         transition: .9s;
    }
    main {
        display: flex;
        justify-content: center;
    }
    table {
        margin: 0px auto;
    }
    td {
        padding-right: 10px;
        font-size: 1.3em;
    }
    td strong {
        color: #00FF00;
    }
    #table-header {
        background-color: #A800A8;
    }
    .table-row {
        background-color: #FF00FF;
    }    
    ul {
        width:500px;
        margin: 0 auto;
        text-align: left;
    }
    .hobby {
        color: #894FFF;
    }
    .landingPic {
    }
    h1{
        font-family: 'Pacifico', cursive;
        font-size: 4em;
        margin-bottom: 0px;
    }
