body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: blue;
    color: red;
}

nav {
    background: #333;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(red, blue);
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-placeholder {
    margin-right: 20px;
    flex-shrink: 0;
    opacity: .95;
}

.content {
    flex-grow: 1;
}
